<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1></h1>
<form action="autenticar" method="post">
    <h1>Listado de pedidos del cliente</h1>
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="Email" size="30" maxlength="30" ></td>
        </tr>
        <tr>
            <td>Clave:</td>
            <td><input type="text" name="City" size="40" maxlength="40"></td>
        </tr>

        <tr>
            <td colspan="2"><input value="Enviar" type="submit"></td>
        </tr>
    </table>
</form>

</body>
</html>
